@font-face{
  font-family: 'Ryker';
  src: url('Ryker-Medium.woff2') format('woff2'),
       url('Ryker-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'CrimsonPro';
  src: url('CrimsonPro-Regular.woff2') format('woff2'),
       url('CrimsonPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
