@font-face{
  font-family: 'Ryker';
  src: url('Ryker-Bold.woff2') format('woff2'),
       url('Ryker-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Ryker';
  src: url('Ryker-Regular.woff2') format('woff2'),
       url('Ryker-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Ryker';
  src: url('Ryker-Medium.woff2') format('woff2'),
       url('Ryker-Medium.woff') format('woff');
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}
